<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnRisky="true"
         failOnIncomplete="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Engine">
            <directory>Engine</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../engine/Atomic</directory>
        </include>
    </source>
    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DB" value="atomic_test"/>
        <env name="DB_USERNAME" value="atomic_test_user"/>
        <env name="DB_PASSWORD" value="atomic_test_pass"/>
    </php>
    <extensions>
        <bootstrap class="Tests\Support\PassFailPrinter"/>
    </extensions>
</phpunit>
